body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: auto;
}
.container {
  width: 100%;
  max-width: 100%;
  margin: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1060px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 1300px) {
  .container {
    max-width: 1200px;
  }
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: calc(100vh - 70px);
}
.home {
  background-color: red;
}

.contact{
  background-color: green;
}

.about {
  background-color: blue;
}

a {
  text-decoration: none;
  color: inherit;
}

.space-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.content-header{
  text-align: start;
  margin-bottom: 20px;
}

.column{
  display: flex;
  flex-direction: column;
  justify-content: center;
}